<div id="nullCart" class="modal">
    <div class="modal-content">
        <img src="https://i.imgur.com/aELQdmM.png" alt="banner de alerta de carrinho vazio">
    </div>
</div>
<div id="limitModal" class="modal">
    <div class="modal-content">
        <img src="https://i.imgur.com/wEWOY14.png" alt="banner de alerta de erro interno">
    </div>
</div>
<h2>Confirmar Produtos</h2>
<div id="cartItems"></div>
<div class="giftcode-section">
    <input type="text" placeholder="Cupom">
    <button id="giftButton">Aplicar</button>
</div>
<div class="total-section">
    <p>Produto: R$ <span id="cartProduto">0</span></p>
    <p>Frete Fixo: R$ <span id="cartFrete">30.00</span></p>
    <p>Desconto: R$ <span id="cartGift">0</span></p>
    <p>Total: R$ <span id="cartTotal">0</span></p>
</div>
<div class="next-section">
    <button id="shipping-button">Envio</button>
</div>
