<footer>
    <p class="centertext">Baby Dreams Store - Todos direitos reservados &copy; 2024</p>
</footer>
</div>
<script src="/scripts/background.js"></script>
<script src="/scripts/cartfunctions.js"></script>
<script src="/scripts/checkout.js"></script>
</body>
</html>