<h1>
    Sobre a Baby Dreams 
</h1>
<h3>
    A baby Dreams é apenas um pequeno site que deseja vender produtos diferentes para os compradores do Brasil, nossos planejamentos são revender desde fraldas ABDL, infatis importadas, roupas ABDL e semelhantes, Chupetas e muito mais, por conta do baixo volume de compras ainda não temos autonomia para incluir um catalogo completo, mas desejamos cada vez ficar maior
</h3>
<h3>
    Servidor do Discord: <a href="https://discord.gg/RSrCB7rK3T">Discord</a>
</h3>
<h3>
    Twitter: Indisponivel no momento
</h3>
<h3>
    Email para contato: contato.babydreamsabdlstore@gmail.com
</h3>
<br>
<h1>
    Politica de Privacidade Baby Dreams 
</h1>
<h3>
    1. Prezamos pela qualidade e satisfação do cliente, qualquer avaria ou problema relacionado aos produtos vendidos em nosso website podem ser solicitado uma disputa por meio de qualquer contato dusponibilizado por <a href="/loja">aqui</a>
</h3>
<h3>
    2. Os produtos com solicitações de devoluções por arrependimento são aceitos no prazo de 7 dias, levando em conta que o custo de embalagem, taxa de processamento e frete sáo custeados pelo comprador, em caso de avarias pelo mesmo os reembolso pode ser recusado
</h3>
<h3> 
    3. Produtos entregue danificado poderam ser devolvidos no prazo de 7 dias e solicitado reembolso total, podendo ser avaliados em caso de suspeita de utilização e em algumas hipoteses ser cobrado os custos sendo reduzido no reembolso.  
</h3>
<h3>
    4. As postagens são realizadas em 3 dias uteis pelos correios, por conta de não termos CNPJ não podemos estar utilizando a API dos correios para calcular o frete assim sendo cobrado o frete fixo de 30,00 Reais, caso algum dos produtos faltem no estoque entraremos em contato via email, ou pelo discord para resolução do problema mais rapido tendo as opções de cancelamento ou troca por outro produto de valor semelhante sem custo adicional
</h3>
<h3>
    5. Os seus dados coletados (email) são mantidos de formas segura em nosso banco de dados, não salvamos meios de pagamentos por questões de segurança, eles são coletados a ja apagados na pagina de pagamentos, endereços são mantidos nos registros de compras Stripe para o envio do Produto, mas não é guardado em nosso banco de dados
</h3>
<h3>
    6. Para mais detalhes dos produtos nosso servidor do discord estara disponivel clicando <a href="https://discord.gg/RSrCB7rK3T">aqui</a> para essas duvidas
</h3>
