<h1>
    Sobre a Baby Dreams 
</h1>
<h3>
<br>
 A Baby Dreams é dedicada a fornecer produtos de qualidade e garantir a satisfação de nossos clientes. Nossa loja oferece uma variedade de produtos, desde fraldas ABDL, fraldas infantis importadas, chupetas e muito mais. Embora atualmente tenhamos um catálogo limitado devido ao nosso volume de vendas em crescimento, estamos constantemente trabalhando para expandir nossa seleção e atender às necessidades de nossos clientes.
<br>
<br>
Servidor do Discord: <a href="https://discord.gg/RSrCB7rK3T">Discord</a>
<br>
Twitter: <a href="https://twitter.com/MarulkChan?t=tYunGyAG342tO2mZ37ECHA&s=09">Twitter</a>
<br>
Email para contato: contato.babydreamsabdlstore@gmail.com
</h3>
<br>
<br>
<h1>
    Política de Privacidade
</h1>
<h3>
<br>
Para garantir a transparência e a proteção dos dados de nossos clientes, adotamos a seguinte Política de Privacidade:
<br>
<br>
1) Satisfação do Cliente: Valorizamos a qualidade e a satisfação do cliente. Se houver qualquer problema ou dano relacionado aos produtos adquiridos em nosso site, os clientes podem solicitar assistência através de qualquer um dos canais de contato disponíveis.
<br>
<br>
2) Devolução por Arrependimento: Aceitamos devoluções por arrependimento no prazo de 7 dias após a compra. Os custos de embalagem, taxa de processamento e frete são de responsabilidade do comprador.
<br>
<br>
3) Devolução de Produtos Danificados: Produtos entregues danificados podem ser devolvidos dentro de 7 dias para um reembolso total. No entanto, reservamo-nos o direito de avaliar os produtos em caso de suspeita de uso e caso comprovado cobrar custos adicionais.
<br>
<br>
4) Entrega e Envio: As postagens são realizadas em até 3 dias úteis pelos correios. Devido à nossa falta de CNPJ, não podemos utilizar a API dos correios para calcular, sendo assim a taxa fixa de 30,00 e em casos de valores muitos acima de dcusto de envio devido ao volume reservamo-nos o direito de entrar em negociação com o comprador para a melhor solução 
<br>
<br>
5) A BabyDreams reserva-se o direito de alterar os preços de seus produtos e serviços a qualquer momento, sem aviso prévio. Tais alterações de preços entrarão em vigor imediatamente após sua publicação no site, sem a necessidade de notificação adicional aos clientes, caso um pedido esteja em processo de confirmação ou processamento no momento em que ocorrer uma alteração de preço, o valor cobrado será o preço vigente no momento da realização do pedido.
<br>
<br>
6) Para mais detalhes dos produtos nosso servidor do discord estara disponivel clicando <a href="https://discord.gg/RSrCB7rK3T">aqui</a>
</h3>
