
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Dreams Store</title>
    <meta name="author" content="Maru">
    <meta name="description" content="A Baby Dreams Store é a mais recente loja ADBL do brasil, com o objetivo de expandir continuamente e oferecer uma gama cada vez maior de produtos à nossa comunidade, mantendo os preços acessíveis, mesmo para quantidades menores.">
    <meta name=”keywords”
        content="abdl,abdl diapers, fralda abdl, fraldas abdl, ddlg, abdl brasil, ddlg brasil, fraldas,fraldas importadas, goodnites, drynites, loja abdl brasil, loja abdl, loja ddlg, loja ddlg brasil, ddlg, loja tbdl brasil, loja tbdl, tbdl" />
    <link rel="icon" href="https://i.imgur.com/EZIoltq.png">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/animated.css">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <meta name="google-site-verification" content="f5od87DS2hopP2S2lmfDg7JfB-A0CWgk7FMapuo7dWs" />
<style>
.info-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 20px;
}

.info-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.info-item img {
    max-width: 100%;
    height: auto;
}

.info-item-text {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .info-item img {
        max-width: 60%;
        height: auto;
    }

    .info-grid {
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
        padding: 20px;
    }
}
</style>
</head>

<body>
    <section></section>
    <div class="house-border">
        <div id="loader">
            <img src="https://media.tenor.com/mZBPjYg0q8cAAAAi/spin-namiko.gif" alt="Carregando...">
        </div>
        <header>
            <a href="/">
                <div class="title">
                    <span>B</span>
                    <span>a</span>
                    <span>b</span>
                    <span>y</span>
                    <span style="opacity: 0;">x</span>
                    <span>D</span>
                    <span>r</span>
                    <span>e</span>
                    <span>a</span>
                    <span>m</span>
                    <span>s</span>
                </div>
            </a>
        </header>
        <div class="menu-sidebar" id="menuSidebar">
            <div class="menu-sidebar-content">
                <nav>
                    <ul>
                    <li><a href="/lister?category=all">Todos Produtos</a> </li>         
                    <li><a href="/lister?category=fraldas">Fraldas</a></li>
                    <li><a href="/lister?category=bodys">Bodys</a></li>
                    <li><a href="/lister?category=acessorios">Acessorios</a></li>
                    <li><a href="/privacity">Politica de privacidade</a></li>
                    <li><a href="/auth/auth">Login</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                    <li><a href="https://discord.gg/RSrCB7rK3T">Discord</a></li>
                    <li><a href="/privacity">Email</a></li>
                    <li><a href="https://twitter.com/MarulkChan?t=tYunGyAG342tO2mZ37ECHA&s=09">Twitter</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="pcmenu">
        <nav>
            <ul>
                <li class="menu1">
                    <a href="lister?category=all">Categorias</a>
                    <ul class="submenu">
                        <li><a href="/lister?category=fraldas">Fraldas</a></li>
                        <li><a href="/lister?category=bodys">Bodys</a></li>
                        <li><a href="/lister?category=acessorios">Acessorios</a></li>
                    </ul>
                </li>
                <li class="menu2">
                    <a>Sobre e Conta</a>
                    <ul class="submenu">
                        <li><a href="/privacity">Politica de privacidade</a></li>
                        <li><a href="/auth/auth">Login</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </li>
                <li class="menu3">
                    <a href="/privacity">Contato</a>
                    <ul class="submenu">
                        <li><a href="https://discord.gg/RSrCB7rK3T">Discord</a></li>
                        <li><a href="/privacity">Email</a></li>
                        <li><a href="https://twitter.com/MarulkChan?t=tYunGyAG342tO2mZ37ECHA&s=09">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        </div>
         <button class="menu-button" onclick="openMenu()">Menu</button>
