<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/title') -%>
<%- include('partials/sucess') -%>
<footer>
    <p class="centertext">Baby Dreams Store - Todos direitos reservados &copy; 2024</p>
</footer>
</div>
<script src="/scripts/background.js"></script>
</body>
</html>
